#home
  %section.hero.is-info.is-medium
    .hero-body
      .container
        %h1.title Lorem Ipsum
        %h2.subtitle
          Dolor sit amet, consectetur adipiscing elit. Nunc a lorem eget ipsum
          imperdiet molestie sed ac lorem.
        .buttons
          %a.button.is-primary.is-medium Register

  %section.section
    .container
      .content
        %h1.title Integer pellentesque molestie finibus
        %p
          Donec vulputate est nisi, ut placerat lectus porttitor eget. Fusce et
          tincidunt velit. Vestibulum in tristique eros. Vestibulum lectus est,
          suscipit porta erat sed, fermentum eleifend augue. Duis maximus mollis
          purus ut commodo. Curabitur blandit, nisi a condimentum hendrerit,
          lectus purus laoreet turpis, eu posuere urna enim nec sem. Pellentesque
          sit amet mi et nisi placerat semper vitae a sem. Nulla pretium laoreet
          orci in lobortis. Integer ut massa rhoncus, semper est quis, cursus
          mauris. Nullam a nulla interdum, mollis metus venenatis, aliquam nisl.
          Suspendisse ultricies, diam eget consectetur aliquet, ipsum elit
          volutpat mi, non consequat ipsum ex nec mauris. Suspendisse potenti.
          Nam dui quam, aliquet in tellus eget, posuere tincidunt urna.
        %p
          Ut pellentesque, erat nec tristique rutrum, dui eros auctor ex, ut
          mollis est sapien vel erat. Cras quis pellentesque turpis, in
          malesuada ex. Sed nisi nulla, efficitur ut quam in, maximus blandit
          felis. Nam eget dictum mauris. Suspendisse potenti. Fusce consequat
          accumsan lectus vel tempor. Pellentesque sollicitudin vulputate enim,
          a sodales turpis venenatis ut. Mauris euismod, nulla consectetur
          consectetur suscipit, elit lectus molestie nibh, ac sollicitudin odio
          elit sollicitudin lorem. Morbi nec dictum dolor.
